@(title: String)(content: Html)


@main(title) {

	<header>
			<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span> 
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Dashboard</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">			
							<li class="dropdown">
								<a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
									<i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span>
								</a>
								<ul id="g-account-menu" class="dropdown-menu" role="menu">
									<li>
										<a href="@routes.Login.perfil()">Meu perfil</a>
									</li>
								</ul>
							</li>
							<li><a href="@routes.Login.sair()"><i class="glyphicon glyphicon-lock"></i> Logout</a>
							</li>
						</ul>
					</div>
				</div>				
			</div>
		</header>
    
       
		<div class="container">

			<div class="row">
				<div class="col-md-2 col-md-offset-1">
					
					<hr>				
				
		            <ul class="nav nav-pills nav-stacked">            
						<li class="nav-header"></li>
						<li>
							<a href="@routes.Application.index()"><i class="glyphicon glyphicon-list"></i>
								Home
							</a>
						</li>
						<li>
							<a href="@routes.Orientandos.index()"><i class="glyphicon glyphicon-briefcase"></i>
								Orientandos
							</a>
						</li>
						<li>
							<a href="@routes.Orientacoes.index()"><i class="glyphicon glyphicon-link"></i>
								Orientacoes
							</a>
						</li>
						<li>
							<a href="#"><i class="glyphicon glyphicon-list-alt"></i>
								Encontros
							</a>
						</li>
						<li>
							<a href="#"><i class="glyphicon glyphicon-book"></i>
								Tarefas
							</a>
						</li>
						
						<li>
							<a href="#"><i class="glyphicon glyphicon-book"></i>
								Relatorio
							</a>
						</li>
						
					</ul>				
				</div>			
			
				<div class="col-md-8">
					<hr>
					@content
				</div>
							
			</div>	
		</div>       

		<footer>
		
	    <div class="navbar navbar-inverse navbar-fixed-bottom">
	        <div class="container">
				<div class="navbar-collapse collapse" id="footer-body">
	                <ul class="nav navbar-nav">
						<li><a href="#">Sobre</a></li>
						<li><a href="#">Contato</a></li>                    
	                </ul>
	            </div>        		
	        </div>
	    </div>

		</footer>

        

}